@media(max-width: 375px){
    .container{
        max-width: 345px;
    }
    .header-menu li:nth-child(1),.header-menu li:nth-child(2){
        display: none;
    }
    .banner .banner-content{
        margin-left: 15px;
    }
    .show-content{
        max-width: 345px;
    }
    .show .show-img{
        max-width: 100%;
    }
    .btn-sub{
        max-width: 210px;
    }
    .nav-btn{
        display: initial;
    }
    .header-menu{
        display: none;
    }

}